<footer class="">
      <hr />
      
      <div>
        <ul class="list-unstyled list-inline">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}
    
            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
            {% if site.email %}
            <li>
              mail: <a href="mailto:{{site.email}}">{{ site.email }}</a>
            </li>
            {% endif %}
          </ul>
      </div>

      <div class="center">
        <a href="http://skoggygames.com/" target="_blank">
          <img src="{{ site.github.url }}/assets/images/logos/skoggy_games_logo_SM.png" alt="SKOGGY GAMES LOGO">
        </a>
        <p class="">{{ site.copyright }}</p>
      </div>
</footer>
