---
---

$color-blue: #3c3332;
$color-red: #d44637;
$color-white: #ebebe0;
$color-black: #3c3332;
$color-header-small: lighten($color-blue, 25%);
$color-yellow: #f9ba55;

$link-color: $color-red;
$color-text: $color-black;
$color-border: lighten($color-black, 50%);
$color-text-muted: lighten($color-black, 35%);

@font-face {
    font-family: Hockey;
    src: url('/assets/fonts/Sports World-Regular.ttf');
}

@font-face{
    font-family: Quantico;
    src: url('/assets/fonts/quantico/Quantico-Bold.otf');
}

body{
    background-color:$color-blue;
    font-family: Quantico;

    color: $color-black;

    >.container{
        padding: 25px;
    }
}

code{
    text-transform: none;
}

.container{
    background-color: $color-white;
}

h1{
    font-size:32pt;
    >small{
        margin-left:4pt;
        font-size:50%;
        color: $color-header-small;
    }
}
h2{
    font-size:26pt;
    >small{
        margin-left:4pt;
        font-size:50%;
        color: $color-header-small;
    }
}
h3{
    font-size:22pt;
    >small{
        margin-left:4pt;
        font-size:50%;
        color: $color-header-small;
    }
}
h4{
    font-size:18pt;
    >small{
        margin-left:4pt;
        font-size:50%;
        color: $color-header-small;
    }
}
h5{
    font-size:14pt;
    >small{
        margin-left:4pt;
        font-size:50%;
        color: $color-header-small;
    }
}
h6{
    font-size:10pt;
    >small{
        margin-left:4pt;
        font-size:50%;
        color: $color-header-small;
    }
}

hr{
    margin-bottom:12px;
    margin-top:12px;
    border-color: $color-red;
}

a{
    color: $link-color;
    text-decoration: none;
}
a:hover{
    color: lighten($link-color, 10%);
}



.navbar{
    .logo{
        font-family: Hockey;
        width:128px;
    }

    ul{
        display:inline-block;
    }

    ul li {
        text-align: left;
        display: inline-block;
        padding:4pt;
        padding-top:0;
        padding-bottom:0;
        border-bottom: 1px solid $color-blue;
        margin-top:8px;
    }

    @media screen and (max-width: 600px){
        ul{
            display: inline-block;
        }
        ul li{
            display: block;
        }

        .logo{
            margin-bottom:28px;
        }
    }
}


ul{
    &.list-inline{
        li{
            display:inline;
            margin-right:8px;
        }
    }
    &.list-unstyled{
        list-style-type: none;
    }
}

.center{
    text-align: center;
}

.puckoff{
    color:$color-red;
    font-family: Hockey;
    text-transform: uppercase;
}

.puck{
    font-family: Hockey;
    text-transform: uppercase;
}

.text-status{
    color:$color-blue;
}
.text-right{
    text-align: right;
}

.label{
    border-radius: 4px;
    background-color: $color-blue;
    color: $color-white;
    padding:4px;
    padding-top:0px;
    padding-bottom:0px;

    &.inverted
    {
        background-color: $color-white;
        color: $color-blue;
    }
}

.dropshadow{
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
}

.feature-card{
    img{
        // border:1px solid red;
        padding-top:0;
        padding-bottom: 0;
        margin:0;
    }
    p{
        // border:1px solid blue;
        font-size:150%;
        padding:0;
        margin:0;
        background-color: lighten($color-black, 60%);
        padding-left: 6px;
        padding-right: 6px;
    }
    border:1px solid $color-border;
    padding:0;
    margin:8px;
    margin-bottom:16px;
}

.banner{
    margin:0;
    padding:0;
    width:100%;
    position:fixed;
    margin-top:-128px;
    opacity: 0.3;
}

.text-muted{
    color: $color-text-muted;
}