<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <img class="banner reveal" src="{{ site.github.url }}/assets/images/layout/banner.png" />

    <div style="margin-bottom:128px"></div>
    <div class="container">
      {% include header.html %}

      <main aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      {% include footer.html %}
    </div>
    {% include analytics.html %}
  </body>
</html>